<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--自动扫描包，让指定包下的注解生效-->
    <context:component-scan base-package="com.cjj.controller"/>
    <!--让springMVC不处理静态资源-->
    <mvc:default-servlet-handler/>
    <!--支持MVC注解驱动
    相当于自动注入BeanNameUrlHandlerMapping映射器和SimpleControllerHandlerAdapter适配器
    -->
    <mvc:annotation-driven/>
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--包括这个请求下面的所有请求 /admin/shop/user-->
            <!--/** 相当于所有请求-->
            <mvc:mapping path="/**"/>
            <bean class="com.cjj.config.MyInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>





</beans>