<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--引入外部配置文件-->
    <properties resource="db.properties"/>


    <settings>
        <!--标准的日志工厂配置-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--别名-->
    <typeAliases>
        <!--方法一：给实体类别名-->
        <!--<typeAlias type="com.cjj.pojo.User" alias="user"/>-->
        <!--方法二：扫包给别名-->
        <package name="com.cjj.pojo"/>
    </typeAliases>




    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--类路径资源xml文件-->
        <!--<mapper resource="com/cjj/dao/UserMapper.xml"></mapper>-->
        <!--类注册-->
        <!--<mapper class="com.cjj.dao.UserMapper"></mapper>-->
        <!--包扫描-->
        <package name="com.cjj.dao"></package>
    </mappers>

</configuration>